* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    background-color: blue;
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 20px;
}
.container h1 {
    color: white;
    font-size: 3em;
    margin-top: 30px;
    text-transform: uppercase;
    text-decoration: underline;
}